
.wrapper {
  
    background: linear-gradient(top left, #486B8A 0%, #53e3a6 100%);
    background: linear-gradient(to bottom right, #486B8A 0%, #53e3a6 100%);
position: absolute;
    top: 5%;
    left: 0;
    width: 100%;
    height: 95%;
    overflow: hidden;
}
.wrapper.form-success .container h1 {
    transform: translateY(85px);
}
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 150px 0;
    height: 400px;
    text-align: center;
}
form {
    padding: 20px 0;
    position: relative;
    z-index: 2;
}
form input {
    appearance: none;
    outline: 0;
    border: 1px solid rgba(255, 255, 255, 0.4);
    background-color: rgba(255, 255, 255, 0.2);
    width: 250px;
    border-radius: 3px;
    padding: 10px 15px;
    margin: 0 auto 10px auto;
    display: block;
    text-align: center;
    font-size: 18px;
    color: white;
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
    font-weight: 300;
}
form input:hover {
    background-color: rgba(255, 255, 255, 0.4);
}
form input:focus {
    background-color: white;
    width: 300px;
    color: #486B8A;
}
form button {
    appearance: none;
    outline: 0;
    background-color: white;
    border: 0;
    padding: 10px 15px;
    color: #53e3a6;
    border-radius: 3px;
    width: 250px;
    cursor: pointer;
    font-size: 18px;
    transition-duration: 0.25s;
}
form button:hover {
    background-color: #486B8A;
    color:#fff;
}